
@font-face {
  font-family: 'Source Han Sans'; 
  src: url('/fonts/SourceHanSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Sans';
  src: url('/fonts/SourceHanSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Han Sans';
  src: url('/fonts/SourceHanSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --vp-font-family-base: 'Source Han Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* 定义标题的字重 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 500; /* 让所有标题默认使用 Medium 字重 */
}

/* 为 H1 单独设置更粗的字重 */
h1 {
  font-weight: 700; /* H1 使用 Bold 字重 */
}

/* 默认（浅色模式）下，隐藏深色图片 */
.dark-image {
  display: none;
}

/* 当 html 标签有 .dark class 时（深色模式下） */
.dark .dark-image {
  display: block; /* 显示深色图片 */
}

.dark .light-image {
  display: none;  /* 隐藏浅色图片 */
}